.main {
    display: flex;
    position: absolute;
    top:25%;
    height: 70%;
    width: 100%;
    justify-content: space-evenly;
}

.card {
    display: flex;
    position: relative;
    width: 25%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: rgba(88, 85, 255, 1);
    border-radius: 75px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card > .image-frame {
    position: relative;
    width: 100%;
    height: 50%;
    border-radius: 75px;
}

.image-frame > img {
    height: 100%;
    width: 100%;
    max-width:100%;
    max-height:100%;
    border-radius: 75px;
}

.info-text{
    display: flex;
    position: relative;
    height: 30%;
    width: 90%;
}   

.info-text > p{
    height: 100%;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px; 
}   

.card > button {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    width: 70%;
    height: 10%;
    border: 0px;
    border-radius: 30px;
    background-color : rgba(182, 182, 182, 0.4);
}